<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue chez Panini Vintage!</h1>
    <p>
      Tu t'es inscrit sur Panini Vintage en utilisant l'e-mail suivant : <%= @user.email %>.
      Nous sommes ravi que tu rejoignes, la communauté de chineur de panini! 
    </p>
    <p>
      Pour accéder à ton espace client, connecte-toi via :<%=@url%>.
    </p>
    <p> Bon chinage et à très vite sur Panini Vintage ! </p>
  </body>
</html>