<header class="bg-dark">
  <div class="container py-5">
    <div class="row py-5">
      <h1 class="text-light display-4">Mon Profil</h1>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-sm-4">
    Nom: Michel
  </div>
  <div class="col-sm-4">
    Prénom: Michel
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    Email: michel@yopm
  </div>
  <div class="col-sm-4">
    Adresse: La Félicita
  </div>
  <div class="col-sm-4">
    Nom: Michel
  </div>
</div>
