<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour Admin !</h1>
    <p>
      Nous t'informons que la commande <%=@order%> a été passée par <%=@user.first_name%> et contient les items suivants:


            <%= render "user_mailer/order"%>

    </p>
    <p>
     Bravo encore une nouvelle vente ! On va devenir riche !</p>
  </body>
</html>