<div class="card m-3" style="width: 16rem;">
  <img src="http://3.bp.blogspot.com/-eQKLPkX27z8/TsuUq5fcwWI/AAAAAAAAUac/C9eNc1Ulh4w/s320/Pel%25C3%25A9+Panini+Br%25C3%25A9sil+Mexico+70.png" class="card-img-top" alt="card-panini">
  <div class="card-body">
    <h5 class="card-title"><%=item.title%></h5>
    <p class="card-text"><%=item.price%> €</p>
    <a href="#" class="mr-3 btn btn-secondary">Voir La Carte</a>
  </div>
</div>