<%= render "layouts/big_banner"%>
<div class="container">
	<div class="card-deck d-flex mt-3">
		<% @items.each do |item| %>
			<div class="col mb-3">
				<div class="card" style="width: 16rem;">
					<img src="http://3.bp.blogspot.com/-eQKLPkX27z8/TsuUq5fcwWI/AAAAAAAAUac/C9eNc1Ulh4w/s320/Pel%25C3%25A9+Panini+Br%25C3%25A9sil+Mexico+70.png" class="card-img-top" alt="card-panini">
					<div class="card-body d-flex flex-column">
						<h5 class="card-title"><%=item.title%></h5>
						<p class="card-text align-self-end"><%=item.price%> €</p>
						<a href="<%=item_path(item.id)%>" class=" btn btn-secondary align-self-end">Voir La Carte</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
