<div class="jumbotron" id="big-banner">
  <h1 class="display-4">Bienvenue chez Panini Vintage</h1>
  <p class="lead">Les meilleures cartes panini vintage, séléctionnées avec amours
   par nos chineurs.</p>
  <hr class="my-4">
  <p>De Cantona à Pelé en passant par Valbuena, uniquement la crème de la crème du panini !</p>
  <p class="lead">
    <a class="btn btn-secondary btn-lg" href="#" role="button">Chiner les meilleurs cartes</a>
  </p>
</div>