<div class="jumbotron mb-5" id="big-banner">
  <h1 class="display-4">Bienvenue chez Panini Vintage</h1>
  <p class="lead">Les meilleures cartes panini vintage, séléctionnées avec amours
   par nos chineurs.</p>
  <hr class="my-4">
  <p>De Cantona à Pelé en passant par l'unique Christophe Jallet, chez Panini Vintage nous vous proposons uniquement la crème de la crème du panini !</p>
  <p class="lead">
    <div class="btn btn-secondary btn-lg" role="button"><%= link_to "Chiner les meilleurs cartes", root_path(anchor: 'chineur') %></div>
  </p>
</div>